.navbar.transparent.navbar-default {
   background: rgba(0,0,0,0.005);
}
#gradient {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background: linear-gradient(0deg,yellow,red);
}
#circular-gradient {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background: radial-gradient(yellow,red);
}
.item {
  height: 500px;
  width: 650px;
  border: 1px solid black;
}
.item img {
  float:left;
  width: 50%;
  margin: 10px;
}
.item h1 {
  margin: 50px 0 0 0;
}
@font-face {
  font-family: 'opensansregular', Helvetica, Arial;
  src: url("something.eot");
  font-style: normal;
  font-weight: normal;
}
