div, img {
  border: 1px solid black;
}
img {
  float: left;
}

/* Clear float fix by: Tony Aslett and Nicholas Gallagher*/
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}
